//
@import 'vars';
@import 'reset';
@import 'header';
@import 'footer';

body {
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: -1em;
}
.card{
    flex-basis: 150px;
    min-height: 4rem;
    flex-grow: 1;
    margin: 1em;
    padding: .8em;
    border-radius: 2em;
    background-color: rgba(0, 0, 0, 0.097);
}
main {
    background-color: #96b0bc;
    height: calc(100% - 6rem);
    overflow-y: auto;
}
#movies-list {
    padding: 2rem;
}
