:root {
  --HEADER_HEIGHT: 4rem;
  --FOOTER_HEIGHT: 2rem;
  --COL_NUMBER: 1;
  --GAP: 0;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  height: var(--HEADER_HEIGHT);
  background-color: black;
  display: flex;
  align-items: center;
  color: red;
  padding: 0 1rem;
}
header h1 {
  font-size: 3rem;
}

footer {
  height: var(--FOOTER_HEIGHT);
  background-color: black;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

body {
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}

.card {
  flex-basis: 100%;
  margin: 0.2rem;
  min-height: 4rem;
  padding: 1rem;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.097);
}

main {
  background-color: #96b0bc;
  height: calc(100% - var(--HEADER_HEIGHT) - var(--FOOTER_HEIGHT));
  overflow-y: auto;
}

#movies-list {
  padding: 2rem;
}

@media screen and (min-width: 560px) {
  :root {
    --COL_NUMBER: 2;
    --GAP: .4rem;
  }

  .card {
    flex-basis: calc(100% / var(--COL_NUMBER) - var(--GAP));
    margin: calc(var(--GAP) / 2);
  }
}
@media screen and (min-width: 768px) {
  :root {
    --COL_NUMBER: 3;
  }
}